* {
  box-sizing: border-box;
}

body {
  color: #444;
}

textarea {
  padding: 0.7rem;
  outline: none;
  border: 1px solid #DDD;
  border-radius: 3px;
}

.container {
  position: relative;
  width: 700px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 0.5rem;
}

.edit-page-textarea {
  height: 300px;
  width: 100%;
  max-width: 100%;
}

.button {
  outline: none;
  background: none;
  border: 1px solid #DDD;
  border-radius: 3px;
  padding: 0.7rem 1rem;
  font-variant: small-caps;
  text-transform: lowercase;
  font-weight: 700;
  color: #555;
  transition: border 100ms ease-in-out;
}

.button:hover {
  border-color: #AAA;
}

.edit-link {
  color: #CCC;
}

.edit-link a {
  text-decoration: none;
  color: #2085AB;
}
